.img {
  position: relative;
  margin-top: 5px;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  font-weight: 500;
  min-height: 650px;
}

h2{
    font-size: 3rem;
    margin-bottom: 0px;
}

p {
    margin: 7px;
    font-size: 1.7rem;
}

img {
  height: 100%;
  width: 100%;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.lang {
    width: 99%;
  /* min-width: 1885px; */
}

.kurz {
    width: 49%;
  /* min-width: 940px; */
}

.text {
  position: absolute;
  top: 7%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
    font-size: 1.25rem;
    margin: 5px;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

.black_background{
    color: white;
}

@media screen and (max-width: 1199px) {

  .lang {
    min-width: 1100px;
    min-height: 380px;
  }
  
  .kurz {
    /* width: 95%; */
    min-width: 550px;
    min-height: 340px;
  }
}


@media screen and (min-width: 1200px) and (max-width: 1600px) {
    .lang {
        min-width: 1500px;
        min-height: 520px;
      }
      
      .kurz {
        min-width: 750px;
        min-height: 460px;
      }
}