.img {
    position: relative;
    margin-top: 5px;
    margin-bottom: 5px; 
}

img {
    height: 100%;
    width: 100%;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.lang{
    width: 99%;
    min-height: 300px;
}

.kurz{
    width: 49%;
}

@media screen and (max-width: 720px) {
  .kurz {
    width: 95%;
  }
}
